{{ form_start(form) }}
	{{ form_widget(form.maxAmountDegree) }}
	{{ form_widget(form.maxTermDegree) }}
	{{ form_widget(form.interestRateDegree) }}
	<button class="button" type="submit">{{ 'ПРИОБРЕСТИ'|trans }}</button>
{{ form_end(form) }}