{{ form_start(form, {'attr': {'class': 'settings-form js-ajax-form js-form-validate', 'novalidate': 'novalidate'}}) }}
	{{ form_row(form.currentPassword) }}
	{{ form_row(form.newPassword) }}
	<div class="button-block">
		<button type="submit" class="button" data-text-sending="{{ 'Подождите...'|trans }}" data-text-error="{{ 'Ошибка'|trans }}">{{ 'изменить пароль'|trans }}</button>
	</div>
{{ form_end(form) }}