{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Финансовые статьи и актуальные новости от Cashyou'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Громкие новости финансового мира и  акутальные известия о системе. Все последние изменения и события в Cashyou и финансовом мире.'|trans }}">{% endblock %}

{% block bodyAttributes %} class="bg-gray"{% endblock %}

{% block mainContent %}
 <div class="content-holder bg-gray">
	 <div class="container">
		 <div class="main">
			 <div class="heading">
				<h1><b>{{ 'Блог'|trans }}</b></h1>
			</div>
			<div class="deal-wrapper">
				<div class="deal-row">
                    <div class="client-block deal-block large modified">
                        <div class="image-block">
                            <a href="{{ path('app.blog-article-tax-sanctions') }}">
                                <img src="{{ asset('images/article-tax-sanctions.jpeg') }}" alt="">
                            </a>
                        </div>
                        <h2><a href="{{ path('app.blog-article-tax-sanctions') }}">Податківці застосовують санкції до підприємців за проводки по особистих рахунках</a></h2>
                        <time class="date" datetime="2018-11-01">1 листопада 2018</time>
                        <p>ДФС почала штрафувати фізичних осіб-підприємців, які застосовують особисті рахунки, відкриті в банківських установах, для...</p>
                        <div class="button-block">
                            <a class="button" href="{{ path('app.blog-article-tax-sanctions') }}">{{ 'Подробнее'|trans }}</a>
                        </div>
                    </div>
				</div>
                <div class="deal-columns">
                    <div class="client-block deal-block modified">
                        <div class="image-block">
                            <a href="{{ path('app.blog-article-tax-sanctions') }}">
                                <img src="{{ asset('images/article-tax-sanctions.jpeg') }}" alt="">
                            </a>
                        </div>
                        <h2><a href="{{ path('app.blog-article-tax-sanctions') }}">Податківці застосовують санкції до підприємців за проводки по особистих рахунках</a></h2>
                        <time class="date" datetime="2018-11-01">1 листопада 2018</time>
                        <p>ДФС почала штрафувати фізичних осіб-підприємців, які застосовують особисті рахунки, відкриті в банківських установах, для...</p>
                        <div class="button-block">
                            <a class="button" href="{{ path('app.blog-article-tax-sanctions') }}">{{ 'Подробнее'|trans }}</a>
                        </div>
                    </div>
                    <div class="client-block deal-block modified">
                        <div class="image-block">
                            <a href="{{ path('app.blog-article-money-for-fall-rest') }}">
                                <img src="{{ asset('images/article-money-for-fall-rest.jpg') }}" alt="">
                            </a>
                        </div>
                        <h2><a href="{{ path('app.blog-article-money-for-fall-rest') }}">Кредит онлайн на карту цілодобово для осіннього відпочинку</a></h2>
                        <time class="date" datetime="2018-10-30">30 жовтня 2018</time>
                        <p>Осінь — чудова пора для подорожей. Тепле і ласкаве сонечко вабить мандрівників в різні куточки нашого світу. За невеликі гроші ви можете...</p>
                        <div class="button-block">
                            <a class="button" href="{{ path('app.blog-article-money-for-fall-rest') }}">{{ 'Подробнее'|trans }}</a>
                        </div>
                    </div>
                </div>
				<div class="deal-columns">
                    <div class="client-block deal-block modified">
                        <div class="image-block">
                            <a href="{{ path('app.blog-article-money-for-cafe-opening') }}">
                                <img src="{{ asset('images/article-money-for-cafe-opening.jpg') }}" alt="">
                            </a>
                        </div>
                        <h2><a href="{{ path('app.blog-article-money-for-cafe-opening') }}">Де взяти гроші готівкою терміново для відкриття кафе</a></h2>
                        <time class="date" datetime="2018-10-22">22 жовтня 2018</time>
                        <p>Чи варто відкривати власне кафе? Про це замислюється багато підприємців, адже собівартість однієї порції страви...</p>
                        <div class="button-block">
                            <a class="button" href="{{ path('app.blog-article-money-for-cafe-opening') }}">{{ 'Подробнее'|trans }}</a>
                        </div>
                    </div>
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-write-off-credit') }}">
								<img src="{{ asset('images/article-write-off-credit.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-write-off-credit') }}">Як банки списують борг по кредиту?</a></h2>
						<time class="date" datetime="2018-10-01">15 жовтня 2018</time>
						<p>Оформили в банку кредит, а погасити його немає можливості? Не ховайтеся від кредитора, ведіть з ним переговори...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-write-off-credit') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
				</div>
				<div class="deal-columns">
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-fast-credit-online') }}">
								<img src="{{ asset('images/article-fast-credit-online.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-fast-credit-online') }}">Швидкий кредит онлайн</a></h2>
						<time class="date" datetime="2018-10-07">07 жовтня 2018</time>
						<p>Хочете організувати свято свого життя в індивідуальному стилі, запросити тільки ...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-fast-credit-online') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-money-for-wedding') }}">
								<img src="{{ asset('images/article-money-for-wedding.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-money-for-wedding') }}">Де взяти гроші на організацію весілля</a></h2>
						<time class="date" datetime="2018-10-01">1 жовтня 2018</time>
						<p>Весілля — найпрекрасніша та найважливіша подія в житті кожного з нас. Про нього ...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-money-for-wedding') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
				</div>
				<div class="deal-columns">
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-rejected-credit') }}">
								<img src="{{ asset('images/article-rejecting-credit.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-rejected-credit') }}">Чому банки відмовляють у видачі кредитів</a></h2>
						<time class="date" datetime="2018-09-22">22 вересня 2018</time>
						<p>Звертаючись до банку, щоб оформити кредит, позичальники часто стикаються з тим, що їм відмовляють. Проблема полягає в тому...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-rejected-credit') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-urgent-money') }}">
								<img src="{{ asset('images/article-urgent-money.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-urgent-money') }}">Терміново потрібні гроші на карту?</a></h2>
						<time class="date" datetime="2018-09-15">15 вересня 2018</time>
						<p>У житті бувають ситуації, коли терміново потрібні гроші на карту. Знайти необхідну суму, часом, буває ...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-urgent-money') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
				</div>
				<div class="deal-columns">
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-dollar-growing') }}">
								<img src="{{ asset('images/article-dollar-growing.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-dollar-growing') }}">Курс долара на міжбанку знову виріс</a></h2>
						<time class="date" datetime="2018-09-07">7 вересня 2018</time>
						<p>У понеділок, 17 вересня, торги доларом на міжбанку почалися з курсу 28.07/28.11 UAH/USD. Ще з самого ...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-dollar-growing') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-crypto-growing') }}">
								<img src="{{ asset('images/article-crypto-coins.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-crypto-growing') }}">Стрімке зростання ринку криптовалют у 2018 році виключений</a></h2>
						<time class="date" datetime="2018-08-30">30 серпня 2018</time>
						<p>Як вважає засновник криптовалюти Ethereum В. Бутерін, на криптовалютному ринку ми не будемо спостерігати ...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-crypto-growing') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
				</div>
				<div class="deal-columns">
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-credit-low-rate') }}">
								<img src="{{ asset('images/article-kredit-s-nizkoy-procentnoy-stavkoy.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-credit-low-rate') }}">Як взяти кредит із низькою процентною ставкою</a></h2>
						<time class="date" datetime="2018-08-22">22 серпня 2018</time>
						<p>До зарплати ще далеко, а гроші потрібні терміново. У подібній ситуації можна звернутися...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-credit-low-rate') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-digital') }}">
								<img src="{{ asset('images/digital.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-digital') }}">Посещение конференции Ukrainian Digital Conference 2017 сотрудниками CashYou</a></h2>
						<time class="date" datetime="2017-08-06">13 ноября 2017</time>
						<p>Совсем недавно, в Харькове, проходила всеукраинская конференция, которая собрала под своим крылом ведущих интернет-специалистов...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-digital') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
				</div>
				<div class="deal-columns">
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-blockchain') }}">
								<img src="{{ asset('images/blockchain.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-blockchain') }}">Посещение конференции Blockchain Conference 2017 в Киеве сотрудниками CashYou</a></h2>
						<time class="date" datetime="2017-08-06">20 ноября 2017</time>
						<p>7 Сентября сотрудники CashYou посетили V международную конференцию в Бизнес Центре «Парус»...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-blockchain') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
					<div class="client-block deal-block modified">
						<div class="image-block">
							<a href="{{ path('app.blog-article-dollars') }}">
								<img src="{{ asset('images/dollars.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="{{ path('app.blog-article-dollars') }}">Фальшивые доллары, которые не отличить от оригинала</a></h2>
						<time class="date" datetime="2017-08-06">17 ноября 2017</time>
						<p>За три квартала текущего года было зарегистрировано 21 случай подделки денег и ценных бумаг группировками...</p>
						<div class="button-block">
							<a class="button" href="{{ path('app.blog-article-dollars') }}">{{ 'Подробнее'|trans }}</a>
						</div>
					</div>
				</div>
				{#<ul class="list-pagination">
					<li><a href="#" class="prev"></a></li>
					<li><span class="active">1</span></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#" class="next"></a></li>
				</ul>#}
			</div>
		 </div>
		 <aside class="sidebar">
			<div class="inner">
				{#<div class="block">
					<div class="search-field">
						<input type="search" id="search-field" name="name" placeholder="Поиск" class="input">
						<button type="submit" class="submit">
							<i class="icon-search"></i>
						</button>
					</div>
				 </div>#}
				 <div class="block">
					<div class="heading">
						<h2><b>{{ 'мы в социальных сетях'|trans }}</b></h2>
					</div>
					<ul class="social-networks modified">
						<li class="facebook">
							<a href="https://www.facebook.com/CashYou.Ukraine/"> <i class="icon-facebook"></i><span class="info">Facebook</span></a>
						</li>
						<li class="instagram">
							<a href="https://www.instagram.com/cashyou_official/"> <i class="icon-instagram"></i><span class="info">Instagram</span></a>
						</li>
						<li class="twitter">
							<a href="https://twitter.com/CashYou_Ukraine"> <i class="icon-twitter"></i><span class="info">Twitter</span></a>
						</li>
					</ul>
				 </div>
				 <div class="block">
					<div class="heading">
						<h2><b>{{ 'Рекомендуемые новости'|trans }}</b></h2>
					</div>
					<ul class="news-list">
						<li class="item">
							<a href="{{ path('app.blog-article-tax-sanctions') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Податківці застосовують санкції до підприємців за проводки по особистих рахунках</div>
									<div class="date">1 лситопада 2018</div>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="{{ path('app.blog-article-money-for-fall-rest') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Кредит онлайн на карту цілодобово для осіннього відпочинку</div>
									<div class="date">30 жовтня 2018</div>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="{{ path('app.blog-article-money-for-cafe-opening') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Де взяти гроші готівкою терміново для відкриття кафе</div>
									<div class="date">22 жовтня 2018</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="block">
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCashyou-371352639870774%2F&tabs=timeline&width=225&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=397540247262670" width="298" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>
		</aside>
	 </div>
	 {#<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>#}
 </div> 
{% endblock %}
