{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Финансовые статьи и актуальные новости от Cashyou'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Громкие новости финансового мира и  акутальные известия о системе. Все последние изменения и события в Cashyou и финансовом мире.'|trans }}">{% endblock %}

{% block bodyAttributes %} class="bg-gray"{% endblock %}

{% block mainContent %}
 <div class="content-holder bg-gray">
	 <div class="container">
		 <div class="main">
			 <div class="heading">
				<h1><b>{{ 'Блог'|trans }}</b></h1>
			</div>
			<div class="deal-wrapper">
				<div class="deal-row">
					<div class="client-block deal-block large modified">
						<div class="image-block">
							<a href="#">
								<img src="{{ asset('images/dollars.jpg') }}" alt="">
							</a>
						</div>
						<h2><a href="#">Фальшивые доллары, которые не отличить от оригинала</a></h2>
						<time class="date" datetime="2017-08-06">17 ноября 2017</time>
						<div class="description">
							<p>За три квартала текущего года было зарегистрировано 21 случай подделки денег и ценных бумаг группировками. Но на этом фальшивомонетчики не остановились. Им удалось создать фальшивые доллары, которые практически невозможно отличить от оригинала.</p>
							<p>В данном случае купюры практически аналогичны настоящим. На них присутствуют микротексты, имеются водяные символы и специальные волокна. Все как на настоящих долларах. Была подделана даже самая сложная деталь. На фальшивых купюрах даже цифры меняют свой цвет, когда изменяется угол наклона. Даже с помощью специальной аппаратуры такие высококачественные подделки не всегда можно распознать.</p>
							<p>Единственным отличием от настоящих долларов является то, что оттенок цифр меняется не на темно-фиолетовый (как должно быть), а на темно-зеленый. Недавно в Запорожской области была задержана «на горячем» группа фальшивомонетчиков, которая попыталась скрыть следы своей деятельности при задержании. С целью увеличить бдительность работников финансовой сферы Нацбанк направил телеграмму с рекомендациями и советами о том, как распознать фальшивки в главные финучреждения страны.</p>
						</div>
						{#<div class="social-block">
							<span class="info">{{ 'Поделиться новостью'|trans }}</span>
							<ul class="social-networks modified small">
								<li class="facebook">
									<a href="#"> <i class="icon-facebook"></i></a>
								</li>
								<li class="twitter">
									<a href="#"> <i class="icon-twitter"></i></a>
								</li>
								<li class="google">
									<a href="#"> <i class="icon-google"></i></a>
								</li>
							</ul>
						</div>#}
					</div>
					<ul class="list-pagination modified">
						<li class="btn-prev">
							<a href="#">
								<i class="icon-btn-prev"></i>
								{{ 'Предыдущая новость'|trans }}
							</a>
						</li>
						<li class="btn-next">
							<a href="{{ path('app.blog-article-digital') }}">
								{{ 'Следующая новость'|trans }}
								<i class="icon-btn-next"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		 </div>
		 <aside class="sidebar">
			<div class="inner">
				{#<div class="block">
					<div class="search-field">
						<input type="search" id="search-field" name="name" placeholder="Поиск" class="input">
						<button type="submit" class="submit">
							<i class="icon-search"></i>
						</button>
					</div>
				 </div>#}
				 <div class="block">
					<div class="heading">
						<h2><b>{{ 'мы в социальных сетях'|trans }}</b></h2>
					</div>
					<ul class="social-networks modified">
						<li class="facebook">
							<a href="https://www.facebook.com/CashYou.Ukraine/"> <i class="icon-facebook"></i><span class="info">Facebook</span></a>
						</li>
						<li class="instagram">
							<a href="https://www.instagram.com/cashyou_official/"> <i class="icon-instagram"></i><span class="info">Instagram</span></a>
						</li>
						<li class="twitter">
							<a href="https://twitter.com/CashYou_Ukraine"> <i class="icon-twitter"></i><span class="info">Twitter</span></a>
						</li>
					</ul>
				 </div>
				 <div class="block">
					<div class="heading">
						<h2><b>{{ 'Рекомендуемые новости'|trans }}</b></h2>
					</div>
					<ul class="news-list">
						<li class="item">
							<a href="{{ path('app.blog-article-bitcoin') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Курс BitCoin достиг максимальной отметки</div>
									<div class="date">24 ноября 2017</div>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="{{ path('app.blog-article-blockchain') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Посещение конференции Blockchain Conference 2017 в Киеве сотрудниками CashYou</div>
									<div class="date">20 ноября 2017</div>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="{{ path('app.blog-article-dollars') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Фальшивые доллары, которые не отличить от оригинала</div>
									<div class="date">17 ноября 2017</div>
								</div>
							</a>
						</li>
						<li class="item">
							<a href="{{ path('app.blog-article-digital') }}">
								{#<div class="image">
									<img src="{{ asset('images/news-item.png') }}" alt="Picture">
								</div>#}
								<div class="content">
									<div class="title">Посещение конференции Ukrainian Digital Conference 2017 сотрудниками CashYou</div>
									<div class="date">13 ноября 2017</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
				<div class="block">
					<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FCashyou-371352639870774%2F&tabs=timeline&width=225&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=397540247262670" width="298" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
				</div>
			</div>
		</aside>
	 </div>
	 {#<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>#}
 </div> 
{% endblock %}
