{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Контакты Cashyou. Телефоны компании Cashyou'|trans }}</title>{% endblock %}

{% block mainContent %}
	<div class="container contacts">
		<div class="heading">
			<h1><b>{{ 'Контакты'|trans }}</b></h1>
		</div>
		<div class="form-columns contacts-form">
			<div class="column">
				<section class="contacts-block">
					<h2>{{ 'Телефоны:'|trans }}</h2>
					<div class="contacts-holder">
						<div class="contacts-column">
							<div class="info-row">
								<div class="image">
									<i class="icon-phone2"></i>
								</div>
								<div class="content">
									<b> <a href="tel:+380443642300">+38 (044) 364 23 00</a></b>
								</div>
							</div>
							<div class="info-row">
								<div class="image">
									<i class="icon-phone2"></i>
								</div>
								<div class="content">
									<b> <a href="tel:0800212300 ">(0800) 21 23 00</a></b>
								</div>
							</div>
							<div class="info-row">
								<div class="image">
									<i class="icon-phone2"></i>
								</div>
								<div class="content">
									<b> <a href="tel:+380670112300">+38 (067) 011 23 00</a></b>
								</div>
							</div>
							<div class="info-row">
								<div class="image">
									<i class="icon-phone2"></i>
								</div>
								<div class="content">
									<b> <a href="tel:+380952882300">+38 (095) 288 23 00</a></b>
								</div>
							</div>
							<div class="info-row">
								<div class="image">
									<i class="icon-phone2"></i>
								</div>
								<div class="content">
									<b> <a href="tel:+380931702300">+38 (093) 170 23 00</a></b>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="contacts-holder">
					<section class="contacts-block">
						<h2>{{ 'Электронная почта:'|trans }}</h2>
						<div class="contacts-holder">
							<div class="contacts-column modified">
								<div class="info-row services">
									<div class="image">
										<i class="icon-services"></i>
									</div>
									<div class="content">
										<b> <a href="mailto:info@cashyou.ua">info@cashyou.ua</a></b>
										<span>{{ 'Технический отдел'|trans }}</span>
									</div>
								</div>
								<div class="info-row handshake">
									<div class="image">
										<i class="icon-handshake"></i>
									</div>
									<div class="content">
										<b> <a href="mailto:marketing@cashyou.ua">marketing@cashyou.ua</a></b>
										<span>{{ 'Сотрудничество'|trans }}</span>
									</div>
								</div>
								<div class="info-row finance">
									<div class="image">
										<i class="icon-finance"></i>
									</div>
									<div class="content">
										<b> <a href="mailto:&#102;&#105;&#110;&#064;&#099;&#097;&#115;&#104;&#121;&#111;&#117;&#046;&#117;&#097;">&#102;&#105;&#110;&#064;&#099;&#097;&#115;&#104;&#121;&#111;&#117;&#046;&#117;&#097;</a></b>
										<span>{{ 'Финансовый отдел'|trans }}</span>
									</div>
								</div>
							</div>
						</div>
					</section>
					<section class="contacts-block">
						<h2>{{ 'График работы:'|trans }}</h2>
						<p>{{ 'Каждый день с 9:00 до 20:00'|trans }}</p>
					</section>
					<section class="contacts-block">
						<h2>{{ 'Социальные сети:'|trans }}</h2>
						<ul class="social-networks modified">
							<li class="facebook">
								<a href="https://www.facebook.com/Cashyou-371352639870774/"> <i class="icon-facebook"></i><span class="info">Facebook</span></a>
							</li>
							<li class="instagram">
								<a href="https://www.instagram.com/cashyou_official/"> <i class="icon-instagram"></i><span class="info">Instagram</span></a>
							</li>
							<li class="twitter">
								<a href="https://twitter.com/CashYou_Ukraine"> <i class="icon-twitter"></i><span class="info">Twitter</span></a>
							</li>
						</ul>
					</section>
				</div>
			</div>
			<div class="column">
				<h2>{{ 'Форма обратной связи:'|trans }}</h2>
				{{ render(controller('AppBundle:Contact:form')) }}
			</div>
		</div>
	</div>
{% endblock %}