{% extends 'base.html.twig' %}

{% block title %}<title>{{ 'Кредит по акции. Быстрый кердит под 0%. Кредиты по выгодным условиям'|trans }}</title>{% endblock %}
{% block meta %}<meta name="description" content="{{ 'Лучшие предложения на финансовом рынке. Первый кредит под 0.1 % Расширяемая бонусная линецка и скидки на последующий кредиты. Пользуйся кредитами по самым выгодным предложеням.'|trans }}">{% endblock %}

{% block bodyAttributes %} class="deal-page"{% endblock %}

{% block mainContent %}
	<div class="content-holder global-wrap">
		<div class="container">
			<div class="main ">
				<div class="heading">
					<h1><b>{{ 'Акция'|trans }}</b></h1>
				</div>
				<div class="general-section">
					<div class="client-block deal-block">
						<div class="image-block">
							<a href="#">
								<img src="{{ asset('images/deal-2.jpg') }}" alt="image description">
							</a>
						</div>
						<h2><a href="#">{{ 'Акция «Приведи друга»'|trans }}</a></h2>
						<time class="date" datetime="2017-24-11">24 ноября 2017</time>
						<p>Компания CashYou предоставляет всем своим клиентам возможность заработать дополнительные бонусы за приглашение своих друзей. Для того чтобы получить бонусы за приглашенных друзей необходимо:</p>
						<ol>
							<li>Зарегистрироваться на сайте CashYou;</li>
							<li>Зайти на Главную страницу CashYou и внизу найти раздел «Партнерская программа»;</li>
							<li>Скопировать предоставленную реферальную ссылку;</li>
							<li>Разместить ссылку в социальных сетях на личной странице/ в тематических группах/ на собственном сайте или в блоге.</li>
						</ol>
						<p>После того как по Вашей ссылке в системе CashYou зарегистрировался новый клиент, взял заем и вовремя его погасил Вы получаете за него бонусы. За каждую 1000 гривен взятую благодаря Вашей реферальной ссылке Вы получаете 500 бонусов. Данная бонусная система работает как для первого, так и последующих займов Ваших друзей. При помощи заработанных бонусов Вы можете прокачать свой аккаунт по трем позициям, а также погасить тело кредита и его проценты. </p>
						{#<div class="button-block">
							<a class="button" href="#">{{ 'Принять участие'|trans }}</a>
						</div>#}
					</div>
					<div class="wrap-btn">
						<ul class="list-deals">
							<li>
								<a href="{{ path('app.deal-credit') }}" class="button btn-prev"><span>{{ 'Предыдущая акция'|trans }}</span></a>
							</li>
							<li>
								<a href="{{ path('app.deal-credit') }}" class="button btn-next"><span>{{ 'Следующая акция'|trans }}</span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<aside class="sidebar sidebar-holder">
				<div class="inner">
                    {% include 'static/deal-sidebar.html.twig' %}
				</div>
			</aside>
		</div>
		{#<aside class="client-aside">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
					<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
						<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
							<form action="#">
								<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
								<input type="tel" placeholder="" value="+380">
								<input class="button" type="submit" value="Перезвоните">
							</form>
						</div>
					</div>
					<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
				</div>
				</div>
			</div>
		</aside>#}
	</div>
{% endblock %}
