{{ form_start(form, {'attr': {'class': 'step-form js-step-form','novalidate': 'novalidate'}}) }}

{{ form_errors(form) }}

<!-- Fourth step-->
<div class="step-block active" data-step="4" data-percent="80">
	<div class="form-columns">
		<div class="column">
			{{ form_row(form.incomeType, {'help': 'registration.help.incomeType'|trans}) }}
			<div data-show-if-field="#registration_finance_state_form_incomeType" data-show-if-value="1|3">		
			{{ form_row(form.companyName, {'help': 'registration.help.companyName'|trans}) }}
			</div>	
		</div>
		<div class="column">
			{{ form_row(form.monthlyIncome, {'help': 'registration.help.monthlyIncome'|trans}) }}			
			<div data-show-if-field="#registration_finance_state_form_incomeType" data-show-if-value="1|3">			
                {{ form_row(form.position, {'help': 'registration.help.position'|trans}) }}                	
            </div>    		
		</div>
		<div class="column">
			{{ form_row(form.workPhone, {
				'attr': {
					'data-rule-phoneValidate': 1,
					'placeholder': '+38 (___) ___-__-__'|trans,
					'data-mask': '+38 (099) 999-99-99',
					'minlength': 19,
					'maxlength': 19
				}, 'help': 'registration.help.workPhone'|trans
			}) }}
			<div data-show-if-field="#registration_finance_state_form_incomeType" data-show-if-value="1|3">											
				{{ form_row(form.businessType, {'help': 'registration.help.businessType'|trans}) }}
			</div>				
		</div>
        <div class="column-hidden">
            {{ form_row(form.lastExperience, {'help': 'registration.help.lastExperience'|trans}) }}
            {{ form_row(form.totalExperience, {'help': 'registration.help.totalExperience'|trans}) }}
            {{ form_row(form.carOwner, {'help': 'registration.help.carOwner'|trans}) }}
            {{ form_row(form.realEstateOwner, {'help': 'registration.help.realEstateOwner'|trans}) }}
        </div>
	</div>
	<div class="button-block"><a class="button btn-light button-prev" href="{{prevURL}}">{{ 'Назад'|trans }}</a><a class="button btn-validate" href="#" data-text-sending="{{ 'Подождите...'|trans }}" data-text-error="{{ 'Ошибка'|trans }}">{{ 'Далее'|trans }}</a></div>
</div>

{{ form_end(form) }}