<div class="client-columns">
	<div class="column">
		{% if not activeLoans|length %}
		<div class="client-block">
			<div class="heading-area">
				<h2>{{ '<b>Текущий </b>кредит'|trans|raw }}</h2>
			</div>
			<div class="text-frame">
				{% trans %}<p>На данный момент у Вас нет кредитов.</p>
				<p>Вы можете оформить кредит прямо сейчас, не выходя из личного кабинета.</p>{% endtrans %}
			</div>
			<div class="intro-section">
				<div class="col-credit-form">
                    {{ render(controller('AppBundle:Loan:loanApplication2ProductsForm')) }}
				</div>
			</div>
		</div>
		{% else %}
			{% for loan in activeLoans %}
				<div class="client-block">
					<div class="heading-area">
						<h2>{{ '<b>Текущий </b>кредит'|trans|raw }}</h2>
					</div>
					<div class="data-holder">
						<div class="row"><span class="name">{{ 'Статус'|trans }}</span>
							<div class="data-block">
								{% if loan.status == 'WaitingForCustomerSignature' %}
									<a href="{{ path('app.loan.sign', {'loanId': loan.id}) }}">{{ 'Ожидает подписи'|trans }}</a>
								{% else %}
									{{ loan.status|trans({}, 'loan_statuses') }}
								{% endif %}
							</div>
						</div>
                        {% if loan.isProcessing == false %}
							<div class="row"><span class="name">{{ 'Сумма'|trans }}</span>
								<div class="data-block"><b class="thisCreditAmount">{{ loan.amount|format_float }}</b> {{ 'грн'|trans }}</div>
							</div>
                        {% endif %}
						
						{% if loan.status != 'WaitingForCustomerSignature' and not loan.isProcessing %}
						<div class="row{% if loan.expired %} loan-expired{% endif %}">
							<span class="name">{{ loan.expired ? 'Кредит просрочен на'|trans : 'Дней до погашения'|trans }}</span>
							<div class="data-block">
								<b>{{ loan.daysUntilNextPayment|abs }}</b> <i class="mobile-hidden">{{ 'день|дня|дней'|transchoice(loan.daysUntilNextPayment|abs) }} </i>[ <span>{{ 'до'|trans }}
										<mark>{{ loan.nextPaymentDate|date('d.m.Y') }}</mark></span>]
							</div>
						</div>
						{% endif %}
                        {% if loan.isProcessing == false %}
							<div class="row"><span class="name">{{ 'Сумма к погашению'|trans }}</span>
								<div class="data-block"><b>{{ loan.totalToRepay|format_float }}</b> {{ 'грн'|trans }}</div>
							</div>
                        {% else %}
							<p class="processing-p">{{ 'Спасибо за Вашу заявку! </br> Она будет обработана менеджером в ближайшее время. Если возникнут вопросы - менеджер с Вами свяжется.'|trans|raw }}</p>
							{# message for NY weekend #}
							{% if "now"|date("m.d.Y") ==  '01.01.2019'%} 
								<p class="NY-processing processing-p">{{ 'Уважаемый клиент, в связи с новогодними праздниками Ваша заявка будет обработана <b>02.01.2019</b> <br> С Новым Годом!'|trans|raw }}</p>
						    {% endif %} 
                        {% endif %}
					</div>
					{% if loan.isProcessing %}
						<div class="button-block"><button class="button disabled" disabled="disabled">{{ 'В обработке'|trans }}</button></div>
					{% elseif loan.status == 'WaitingForCustomerSignature' %}
						<div class="button-block"><a class="button" href="{{ path('app.loan.sign', {'loanId': loan.id}) }}">{{ 'Подписать'|trans }}</a></div>
					{% else %}
						<div class="button-block"><a class="button" href="{{ path('app.loan.repay', {loanId: loan.id}) }}">{{ 'Погасить'|trans }}</a></div>
					{% endif %}
				</div>
				{% if loan.canRollover and loan.status != 'WaitingForCustomerSignature' and loan.creditProductName != initialSpecialProduct %}
				<div class="client-block">
					<div class="heading-area">
						<h2><b>{{ 'Лонгация'|trans }}</b></h2>
					</div>
					<div class="intro-section">
						<div class="row row-period modified">
							<strong class="title term head-title modified"><span>{{ 'Продлить срок выплаты'|trans }}</span><span class="date-holder"><span class="icon-calendar"></span><input type="text" class="datepicker" data-mindays="{{ loan.minRolloverTermDays }}" data-maxdays="{{ loan.maxRolloverTermDays }}"></span></strong>
							<p class="rollover-tip">{{ 'Выберите срок, на который Вы хотите продлить кредит' |trans }}</p>
							<div class="col-credit-form">
								<form id="extension-credit-dashboard" class="extension-credit" action="{{ path('app.loan.rollover.submit') }}" method="post">
									<div class="line">
										<div class="line-holder">
											<div class="line-slider"><span class="minus-slider minus-slider2"></span>
												<div id="slider-rollover-dashboard-{{ loan.id }}" data-input="#termRollover-dashboard-{{ loan.id }}" data-step="{{ TKLenderConfig.defaultTermStep }}" data-default="{{ loan.minRolloverTermDays }}" data-min="{{ loan.minRolloverTermDays }}" data-max="{{ loan.maxRolloverTermDays }}"  class="slider period2"></div><span class="plus-slider plus-slider2"></span>
											</div>
										</div>
									</div>
									<div class="total-line">
										<div class="total-info">
											<div class="col">
												<span>{{ 'Срок погашения'|trans }}</span>
												<div class="l-wrap"><b class="expired-date"></b></div>
											</div>
											<div class="col">
												<span>{{ 'Процентная ставка'|trans }}</span>
												<div class="l-wrap"><b class="percent"></b><span class="percent-s">%</span></div>
											</div>
											<div class="col">
												<b>{{ 'Итого'|trans }}</b>
												<div class="l-wrap"><b class="total-value"></b>{# <span class="currency">{{ 'грн'|trans }}</span> #}</div>
											</div>
										</div>
										<input type="hidden" name="termRollover" id="termRollover-dashboard-{{ loan.id }}" value="{{ loan.minRolloverTermDays }}">
										<input type="hidden" name="loanId" id="loanId-dashboard-{{ loan.id }}" value="{{ loan.id }}">
										<a class="button rollover-instruction-opener" href="#rollover-instruction">{{ 'Продлить'|trans }}</a>
										<div class="popup-holder">
											<div class="lightbox" id="rollover-instruction"><a class="lightbox-close" href="#" data-fancybox-close><i class="icon-close close-popup"></i></a>
												<div class="lightbox-block">
													<h2 class="text-instruction">{{ 'Для продления кредита выполните пошагово следующие действия'|trans }}</h2>
													{{ '<ol class="step-instruction"><li>После того, как Вы нажмете кнопку "Продлить", программа укажет сумму, необходимую для погашения процентов.</li><li>Вам необходимо оплатить проценты в открывшемся окне деньгами либо бонусами.</li><li>Далее, Вам необходимо подписать дополнительное соглашение к договору о увеличении срока кредита. Если вы случайно вышли на главную страницу личного кабинета, вам необходимо снова выбрать  срок пролонгации и нажать на кнопку "Продлить" и вы попадёте на страницу подписания договора.</li><li>Поздравяем, вы пролонгировали кредит.</li></ol>'| trans | raw }}
													<p><label><input type="checkbox" class="agree-instruction">{{ 'С инструкцией ознакомлен'| trans }}</label></p>
													<a class="button rollover-button-dashboard disabled-button">{{ 'Продлить'|trans }}</a>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div class="column">
		<div class="client-block">
			<div class="heading-area">
				<h2>{{ '<b>Текущее </b>количество бонусов'|trans|raw }}</h2>
			</div>
			<span class="bonuses-number">
				<mark>{{ customerBonuses.bonusesBalance }}</mark> {{  'Бонус|Бонуса|Бонусов'|transchoice(customerBonuses.bonusesBalance) }}
			</span>
{#
			<div class="button-block">
				<a class="button" href="" data-click=".bonuses-tab>a">{{ 'Получить еще'|trans }}</a>
			</div>
#}
		</div>
		<div class="client-block">
			<div class="heading-area">
				<h2>{{ '<b>Бонусная </b>система'|trans|raw }}</h2>
			</div>
			{#<strong class="head-title">{{ 'Ваши текущие бонусы'|trans }}</strong>#}
			<ul class="bonuses-list even">
				<li>
					<span>{{ 'Увеличение максимальной суммы кредита'|trans }}</span>
					<div class="gif-block"><img src="{{ asset('images/badge-money-level-' ~ customerBonuses.maxAmountDegree.value ~ '.png') }}" alt=""></div><strong>{{ loyalityMapping.maxAmount[customerBonuses.maxAmountDegree.value] }} {{ 'грн'|trans }}</strong>
				</li>
				<li>
					<span>{{ 'Увеличение максимального срока кредита'|trans }}</span>
					<div class="gif-block"><img src="{{ asset('images/badge-discount-level-' ~ customerBonuses.interestRateDegree.value ~ '.png') }}" alt=""></div><strong>{{ loyalityMapping.interestRate[customerBonuses.interestRateDegree.value] * 100 }}%</strong>
				</li>
			</ul>
			<div class="button-block">
				<a class="button" href="" data-click=".bonuses-tab>a">{{ 'Прокачать'|trans }}</a>
			</div>
		</div>
	</div>
</div>

{#
<div class="deal-columns">
	<div class="client-block deal-block">
		<div class="image-block">
			<a href="#">
				<img src="{{ asset('images/img-deal1.jpg') }}" alt="">
			</a>
		</div>
		<h2><a href="#">Тут возникнет совершенно другой заголовок</a></h2>
		<time class="date" datetime="2017-08-06">6 августа 2017</time>
		<p>Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat...</p>
		<div class="button-block">
			<a class="button" href="#">Подробнее</a>
		</div>
	</div>
	<div class="client-block deal-block">
		<div class="image-block">
			<a href="#">
				<img src="{{ asset('images/img-deal1.jpg') }}" alt="">
			</a>
		</div>
		<h2><a href="#">Тут возникнет совершенно другой заголовок</a></h2>
		<time class="date" datetime="2017-08-06">6 августа 2017</time>
		<p>Non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat...</p>
		<div class="button-block">
			<a class="button" href="#">Подробнее</a>
		</div>
	</div>
</div>
#}
