{% form_theme form 'form/profile-fields.html.twig' %}

<div class="form-holder">
	{{ form_start(form, {'attr': {'class': 'data-info js-ajax-form'}}) }}
	<div class="columns">
		<div class="col">
			{{ form_row(form.maritalStatus, {'attr': {'disabled': 'disabled'}|merge(profile.maritalStatus is empty ? {'class': 'has-error'} : {})}) }}
			{{ form_row(form.numberOfDependents, {'attr': {'disabled': 'disabled'}|merge(profile.numberOfDependents is empty ? {'class': 'has-error'} : {})}) }}
		</div>
		<div class="col">
			{{ form_row(form.education, {'attr': {'disabled': 'disabled'}|merge(profile.education is empty ? {'class': 'has-error'} : {})}) }}
			{{ form_row(form.citizenship, {'attr': {'disabled': 'disabled'}|merge(profile.citizenship is empty ? {'class': 'has-error'} : {})}) }}
		</div>
	</div>

	{% if not hasUnpaidLoans %}
	<div class="button-block">
		<a href="#" class="button btn-edit open-editing">{{ 'Редактировать'|trans }}</a>
		<a href="#" class="button back-btn">{{ 'Назад'|trans }}</a>
		<button type="submit" class="button submit-profile" data-text-sending="{{ 'Подождите...'|trans }}" data-text-error="{{ 'Ошибка'|trans }}">{{ 'Сохранить'|trans }}</button>
	</div>
	{% endif %}

	{{ form_end(form) }}
</div>