{% extends 'base.html.twig' %}

{% block mainContent %}
	<div class="security-holder">
		<div class="container">
			<div class="heading">
				<h1> {{ '<b>Новый </b>Пароль'|trans|raw }}</h1>
			</div>
			<div class="security-inner">
				<form action="#">
					<div>
						<div class="label-block">
							<label for="registration_form_password_first" class="required">Введите Ваш новый пароль<span class="req">*</span></label>
							<div class="popup-block"><a class="popup-opener" href="#"> <i class="icon-question"></i></a>
								<div class="popup">
									<p>{{ 'Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis'|trans }}</p>
								</div>
							</div>
						</div>
						<div class="password-block">
							<input type="text" id="registration_form_password_first" name="registration_form[password][first]" required="required">
							<span class="show-password"><i class="icon-eye"></i></span>
						</div>
					</div>
					<div>
						<div class="label-block">
							<label for="registration_form_password_second" class="required">Повторите пароль<span class="req">*</span></label>
							<div class="popup-block"><a class="popup-opener" href="#"> <i class="icon-question"></i></a>
								<div class="popup">
									<p>{{ 'Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis'|trans }}</p>
								</div>
							</div>
						</div>
						<div class="password-block">
							<input type="text" id="registration_form_password_second" name="registration_form[password][second]" required="required" data-rule-equalto="#registration_form_password_first" data-rule-notSpaces="1">
							<span class="show-password"><i class="icon-eye"></i></span>
						</div>
					</div>
					<div class="button-block">
						<a href="#" class="button">{{ 'Подтвердить'|trans }}</a>
					</div>
				</form>
			</div>
		</div>
		<aside class="client-aside bg-transparent">
			<div class="container">
				<div class="frame">
					<div class="chat-holder">
						<div class="callback-block"><a class="callback-opener" href="#"><span><i class="icon-phone"></i></span></a>
							<div class="callback-popup"><a class="callback-close" href="#"><i class="icon-close"></i></a>
								<form action="#">
									<label>Оставьте Ваш телефон и мы Вам перезвоним</label>
									<input type="tel" placeholder="" value="+380">
									<input class="button" type="submit" value="Перезвоните">
								</form>
							</div>
						</div>
						<div class="chat-block"><a class="chat-opener" href="#">{{ 'Связь с менеджером'|trans }}</a></div>
					</div>
				</div>
			</div>
		</aside>
	</div>
	<div class="popup-holder">
		<div class="lightbox" id="get-code"><a class="lightbox-close" href="#" data-fancybox-close><i class="icon-close"></i></a>
			<div class="lightbox-block">
				<h2>Внимание !</h2>
				<div class="hint-text">
					<p>Введите код полученный в SMS для верификации номера телефона</p>
				</div>
				<form class="code-form" action="#">
					<input type="text" placeholder="">
					<input class="button" type="submit" value="Ввести код">
					<div class="form-row"><span>Не получили код ?</span><a class="forgot-password" href="#">Отправить еще раз</a></div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}